# 依赖安装地址
registry=https://registry.npmmirror.com

# 以下为pnpm相关

# nodejs安装地址
node-mirror:release=https://registry.npmmirror.com/mirrors/node/
node-mirror:rc=https://registry.npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://registry.npmmirror.com/mirrors/node-nightly/


# 以下内容转移至workspace中配置

# 使用的nodejs版本
# use-node-version = 22.22.2

# 插件包支持的nodejs最低版本
# node-version = 16.20.0
# engine-strict = true

# 强制pnpm install不更新pnpm-lock.yaml，等同于 pnpm install --frozen-lockfile
# prefer-frozen-lockfile=true

# 依赖提升到node_modules目录
# public-hoist-pattern[]=module
